<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692990265686-sv1e7g6071o5mu83jjaa3ohlnv9ssqeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692990265686-sv1e7g6071o5mu83jjaa3ohlnv9ssqeu</string>
	<key>API_KEY</key>
	<string>AIzaSyC4mDwfRHWC8HYnj16EyfjA2VfbpQ2hfr4</string>
	<key>GCM_SENDER_ID</key>
	<string>692990265686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EcoDrop.Yolanda</string>
	<key>PROJECT_ID</key>
	<string>yolanda-eaf1d</string>
	<key>STORAGE_BUCKET</key>
	<string>yolanda-eaf1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692990265686:ios:1af6e8253862d8323a2ef7</string>
	<key>DATABASE_URL</key>
	<string>https://yolanda-eaf1d.firebaseio.com</string>
</dict>
</plist>